
body{
    background-color: #FFE2B8;
}

p,ol,ul{
    font-family: Helvetica;
    font-weight: bold;
}
table
{
    border: 1px solid saddlebrown;
    width: 600;
}
#container{
    position: relative;
 
}
canvas{
    position: absolute;
    border: 1px solid #F11;
    background: #1F11;
}